//Primary Colors Blue
$Primary-Color-1:hsl(240, 100%, 91%);
$Primary-Color-2:hsl(240, 100%, 80%);
$Primary-Color-3:hsl(240, 100%, 76%);
$Primary-Color-4:hsl(240, 100%, 73%);
$Primary-Color-5:hsl(240, 100%, 60%);//Primary
$Primary-Color-6:hsl(240, 100%, 57%);
$Primary-Color-7:hsl(240, 100%, 29%);
$Primary-Color-8:hsl(240, 100%, 13%);
//Primary Color 2 Red
$Primary2-Color-1:hsl(0, 100%, 78%);
$Primary2-Color-2:hsl(0, 100%, 75%);
$Primary2-Color-3:hsl(0, 100%, 67%);
$Primary2-Color-4:hsl(0, 100%, 60%);
$Primary2-Color-5:hsl(0, 100%, 50%);//Primary
$Primary2-Color-6:hsl(0, 100%, 24%);
$Primary2-Color-7:hsl(0, 100%, 17%);
$Primary2-Color-8:hsl(0, 100%, 13%);
//Secondary Colors purple
$Secondary-Color-1:hsl(268, 100%, 79%);
$Secondary-Color-2:hsl(283, 100%, 73%);
$Secondary-Color-3:hsl(281, 100%, 60%);
$Secondary-Color-4:hsl(283, 100%, 38%);//primary
$Secondary-Color-5:hsl(281, 100%, 33%);
$Secondary-Color-6:hsl(300, 95%, 17%);
$Secondary-Color-7:hsl(300, 100%, 12%);
$Secondary-Color-8:hsl(300, 100%, 10%);
//Main colors
$main-white:hsl(0, 0%, 100%);
$main-black:hsl(0, 0%, 0%);
$main-red:hsl(0, 100%, 50%);
$main-green:hsl(120, 100%, 25%);
$main-blue:hsl(240, 100%, 50%);
